body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.calculadora {
    border: 2px solid #ccc;
    border-radius: 10px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.display {
    height: 50px;
    border: none;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 1.5em;
    text-align: right;
    width: 100%;
    background-color: #f0f0f0;
}

.botones {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.botones button {
    width: 50px;
    height: 50px;
    font-size: 1.2em;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ccc;
    transition: background-color 0.2s;
}

.botones button:hover {
    background-color: #ddd;
}

.botones button.operator {
    background-color: #f59b23;
}

.botones button.operator:hover {
    background-color: #e58320;
}

.botones button.double {
    grid-column: span 2;
}
